/*
#login-form-wrap {
    background-color: #d00;
    animation-name: cycle;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
  } 
  */

@keyframes cycle {
    from {
        background-color: #d00;
    }
    50% {
        background-color: #7f7;
    }
    to {
        background-color: #d00;
    }
}

html, body {
    height: 100%;
}

#login-form-wrap {
    background-color: #ffffff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 10px 0;
    border: 1px solid #31D499;
    border-radius: 20px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
    padding: 20px 60px;
}

input[type="text"],
input[type="password"] {
    width: 50%;
    padding: 0 10px 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    border-radius: 5px;
    font-style: normal;
    font-size: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[type="submit"] {
    border: none;
    display: block;
    background-color: #31D499;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    border-radius: 20px;
    padding: 0 20px 0px 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

#dislike-button {
    background-color: red;
}

#like-button {
    background-color: green;
}


/* this is the animation for footer in main page */
/*
@keyframes move-to-the-side {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-1000px);
  }
 
  100% {
    transform: translateX(1000px);
  }
}

.box {
 
  animation: move-to-the-side 15000ms infinite;
}
*/


/* this is the css for logo in login form */

#login-form-logooo {


    display: inline-block;
}

#logoBild {

    width: 100px;
    height: 80px;
    padding-right: 20px;
    margin-bottom: 20px;

}

#mainLogo {

    width: 100px;
    height: 80px;
    padding-right: 20px;
    margin-bottom: 20px;
}


/** this is style for nav i main page**/
#navbar-id-for {

    background-color: #21D192;
    padding-top: 20px;
}